<template name="toy_scale">

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Oil tank manager
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor route='home'}}"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="{{pathFor route='scale'}}">Oil tank manager</a></li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row">
      <div class="col-md-3">

        <!-- Data box -->
        <div class="box box-primary">
          <div class="box-body box-profile">
            <h3 class="profile-username text-center" id="current_volume">Current volume (liter)</h3>
            <h1 class="text-center">{{scale_data_realtime.data}}</h1>
            <p class="text-muted text-center">{{formatTime scale_data_realtime.updatedAt}}</p>

            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>Today</b> <a class="pull-right">{{toyDataCountToday}}</a>
              </li>
            </ul>

          </div><!-- /.box-body -->
        </div><!-- /.box -->

        <!-- Data box -->
        <div class="box box-primary">
          <div class="box-body">
            <h3 class="profile-username text-center">Export data</h3>
            <form class="form-horizontal toyExportXls">
              <div class="box-body">
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-4 control-label">Start date</label>
                  <div class="col-sm-8">
                    <input type="text" id="datepicker-start" name="toy_export_startDate" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword3" class="col-sm-4 control-label">End date</label>
                  <div class="col-sm-8">
                    <input type="text" id="datepicker-end" name="toy_export_endDate" class="form-control">
                  </div>
                </div>

              </div><!-- /.box-body -->
              <div class="box-footer">
                <button type="submit" class="btn btn-info pull-right">Export</button>
              </div><!-- /.box-footer -->
            </form>
          </div><!-- /.box-body -->
        </div><!-- /.box -->

      </div><!-- /.col -->
      <div class="col-md-9">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#activity" data-toggle="tab">Data</a></li>
            <li><a href="#setting" data-toggle="tab">Setting</a></li>
          </ul>
          <div class="tab-content">
            <div class="active tab-pane" id="activity">
              <div class="well">
                {{> upload_bootstrap fileTypes='.xlsx' multiple=false callbacks=fileUploadCallback}}
              </div>
              <!-- Table -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Oil tank volume data</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-bordered">
                    <tr>
                      <th style="width: 30px">ID</th>
                      <th style="width: 200px">Time (DD-MM-YYYY hh:mm:ss)</th>
                      <th>Code</th>
                      <th>Name</th>
                      <th>Quota</th>
                      <th>Actual used</th>
                      <th>Diff</th>
                      <th>Actual in tank</th>
                    </tr>
                    <tbody>
                    {{#each toyDataTimely}}
                      {{> toy_scale_timely_data}}
                    {{/each}}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.tab-pane -->

            <div class="tab-pane" id="setting">
              <!-- Horizontal Form -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Add Quota</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal toyAddQuota">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">Code</label>
                      <div class="col-sm-10">
                        <input type="text" name="toy_quota_code" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputPassword3" class="col-sm-2 control-label">Quota</label>
                      <div class="col-sm-10">
                        <input type="text" name="toy_quota_quota" class="form-control">
                      </div>
                    </div>

                  </div><!-- /.box-body -->
                  <div class="box-footer">
                    <button type="submit" class="btn btn-info pull-right">Add</button>
                  </div><!-- /.box-footer -->
                </form>
              </div><!-- /.box -->
              <!-- Table -->
              <div class="box box-info">
                <div class="box-header with-border">
                  <h3 class="box-title">Quota</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                  <table class="table table-bordered">
                    <tr>
                      <th style="width: 30px"></th>
                      <th>Code</th>
                      <th>Quota</th>
                    </tr>
                    <tbody>
                    {{#each toy_scale_quotas}}
                      {{> toy_scale_quota}}
                    {{/each}}
                    </tbody>
                  </table>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.tab-pane -->

          </div><!-- /.tab-content -->
        </div><!-- /.nav-tabs-custom -->
      </div><!-- /.col -->
    </div><!-- /.row -->

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->

</template>

<template name="toy_scale_timely_data">
  <tr>
    <td></td>>
    <td>{{formatTime time}}</td>
    <td>{{code}}</td>
    <td>{{name}}</td>
    <td>{{quota}}</td>
    <td>{{actual}}</td>
    <td>{{diff}}</td>
    <td>{{current}}</td>
  </tr>
</template>

<template name="toy_scale_quota">
  <tr>
    <td><i class="fa fa-trash-o toyRemoveQuota"></i></td>
    <td>{{code}}</td>
    <td>{{quota}}</td>
  </tr>
</template>