<template name="yash_device">

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Device manager
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="{{pathFor route='home'}}"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Device</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-8">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Devices list</h3>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered">
              <tr>
                <th>Name</th>
                <th style="width: 60px">Type</th>
                <th>Status</th>
                <th>Progress</th>
                <th>Tool</th>
              </tr>
              <tbody>
              {{#each yashDevices}}
                {{> yash_device_each}}
              {{/each}}
              </tbody>
            </table>
          </div><!-- /.box-body -->
          <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
          </div>
        </div><!-- /.box -->
      </div><!-- /.col -->

      <!-- right column -->
      <div class="col-md-4">
        <!-- Horizontal Form -->
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">New device</h3>
          </div><!-- /.box-header -->
          <!-- form start -->
          <form class="form-horizontal yashDeviceAdd">
            <div class="box-body">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                  <input type="text" name="yashDeviceAddName" class="form-control" id="inputEmail3" placeholder="DeviceX">
                </div>
              </div>
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                  <select class="form-control" name="yashDeviceAddType">
                    <option>HTTP</option>
                    <option>MQTT</option>
                    <option>Ping</option>
                    <option>Potato</option>
                  </select>
                </div>
              </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-right">Create</button>
            </div><!-- /.box-footer -->
          </form>
        </div><!-- /.box -->
      </div><!--/.col (right) -->
    </div><!-- /.row (main row) -->

  </section><!-- /.content -->
</div><!-- /.content-wrapper -->
</template>

<template name="yash_device_each">
  <tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td><span class="badge bg-yellow">inactive</span></td>
    <td>
      <div class="progress progress-xs">
        <div class="progress-bar progress-bar-yellow" style="width: 70%"></div>
      </div>
    </td>
    <td>
      <a href="#"><i class="fa fa-play"></i></a>
      <!-- <a href="#"><i class="fa fa-stop"></i></a> -->
      <a href="#"><i class="fa fa-edit"></i></a>
      <a href="#"><i class="fa fa-trash-o yashDeviceDelete"></i></a>
    </td>
  </tr>
</template>