<template name="yash_todo">

<!-- TO DO List -->
<div class="box box-primary">
  <div class="box-header">
    <i class="ion ion-clipboard"></i>
    <h3 class="box-title">To Do List</h3>
    <div class="box-tools pull-right">
      <ul class="pagination pagination-sm inline">
        {{#each yashTodoPageList}}
          <li><a href="#">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div><!-- /.box-header -->
  <div class="box-body">
    <ul class="todo-list">
      {{#each yashTodoElements}}
        {{> yash_todo_element}}
      {{/each}}
    </ul>
  </div><!-- /.box-body -->
  <div class="box-footer">
    <form class="yashTodoAddTask">
      <div class="input-group">
        <input class="form-control" name="yashTodoAddTaskTxt" placeholder="Add note...">
        <div class="input-group-btn">
          <button class="btn btn-info"><i class="fa fa-plus"></i></button>
        </div>
      </div>
    </form>
  </div>
</div><!-- /.box -->

</template>

<template name="yash_todo_element">
<li>
  <i class="fa {{#if private}}fa-user{{else}}fa-users{{/if}}" style="width:15px;"></i>
  <!-- checkbox -->
  <input type="checkbox" checked="{{checked}}" name="" class="yashTodoToggleChecked">
  <!-- todo text -->
  <span class="text" style="{{#if checked}}text-decoration: line-through;{{/if}}">{{yashTodoElement}}</span>
  <!-- Emphasis label -->
  <small class="label label-danger"><i class="fa fa-clock-o"></i> {{username}}</small>
  <!-- General tools such as edit or delete-->
  <div class="tools">
    <i class="fa {{#if private}}fa-users{{else}}fa-user{{/if}} yashTodoSetPrivate"></i>
    <i class="fa fa-edit yashTodoEdit"></i>
    <i class="fa fa-trash-o yashTodoRemoveTask"></i>
  </div>
</li>
</template>